langchain
langchain_community
langchain_google_genai
langchain_openai
python-dotenv
streamlit
wikipedia
beautifulsoup4
arxiv
config
duckduckgo_search==5.3.1b1
google-api-python-client>=2.100.0
langchain
langchain_community
langchain_experimental
langchain_openai
numexpr
streamlit
wikipedia
wolframalpha